<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a
                    class="navbar-brand"
                    target="_blank"
                    href="https://www.hcu-hamburg.de/"
                    ><img src="/assets/hculogo.png"
                /></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    id="navbarNavAltMarkup"
                    class="collapse navbar-collapse justify-content-end"
                >
                    <div class="navbar-nav">
                        <router-link
                            v-slot="{ href, navigate, isExactActive }"
                            :to="{ name: 'home' }"
                            custom
                        >
                            <a
                                class="nav-link"
                                :class="{ active: isExactActive }"
                                :href="href"
                                @click="navigate"
                            >
                                Home
                            </a>
                        </router-link>

                        <router-link
                            v-slot="{ href, navigate, isExactActive }"
                            :to="{ name: 'map' }"
                            custom
                        >
                            <a
                                class="nav-link"
                                :class="{ active: isExactActive }"
                                :href="href"
                                @click="navigate"
                            >
                                Interaktive Karte
                            </a>
                        </router-link>
                        <a
                            class="nav-link"
                            href="https://www.researchgate.net/publication/345859766_Sea-Level_Rise_in_Northern_Germany_A_GIS-Based_Simulation_and_Visualization"
                            target="_blank"
                            >Zum Paper</a
                        >
                        <a
                            class="nav-link"
                            href="mailto:sealevel@hcu-hamburg.de"
                            >Kontakt</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <keep-alive include="Map">
            <router-view />
        </keep-alive>
    </div>
</template>
