<template>
    <scenario-info-box
        id="scenario-info-box"
        title="Szenario-Informationen"
        kind="info"
        :items="items"
        @update="onUpdate"
    >
        <a href="#" class="info-button-link" @click="toggleOverlay">
            <i
                class="fas fa-info-circle info-button"
                title="Weiterführende Informationen"
            ></i>
        </a>
        <div v-if="current_scenario_info" style="text-align: justify">
            {{ current_scenario_info }}
        </div>
        <ul id="scenario-info-box-list">
            <li v-for="item in items" :key="item.title">
                <strong>{{ item.content }}</strong> {{ item.title }}
            </li>
        </ul>
    </scenario-info-box>
</template>

<script>
import ScenarioInfoBox from "./ScenarioInfoBox.vue";

import { convertToItems } from "../../util";
import Store from "../../Store";

const descriptiveTitle = {
    people_affected: "betroffene Menschen",
    flooded_area: "km² überflutete Fläche ",
};

const numberFormatter = new Intl.NumberFormat("de-DE");

export default {
    name: "ScenarioInfo",
    components: { ScenarioInfoBox },
    data() {
        return {
            items: null,
            current_scenario_info: null,
        };
    },
    methods: {
        onUpdate({ scenario, dikeScenario }) {
            this.items = convertToItems(scenario[dikeScenario], "info")
                .filter(item => item.content !== null)
                .map(item => ({
                    title: descriptiveTitle[item.title],
                    content: numberFormatter.format(Number(item.content)),
                }));
            this.current_scenario_info = scenario.meta;
        },
        toggleOverlay() {
            Store.infoOverlay.toggleVisibility();
        },
    },
};
</script>

<style scoped>
.info-button {
    position: absolute;
    top: 8px;
    right: 8px;
}
.info-button-link {
    color: #777;
}
</style>
