<template>
    <info-box v-show="scenarios_loaded" id="scenario-slider">
        <h4 class="info-box-heading">{{ title }}</h4>
        <div id="nus-scenario-slider" ref="slider"></div>
        <check-box
            id="scenario-checkbox"
            ref="dikeCheckbox"
            caption="Küstenschutz"
            :styling="{
                'padding-top': '10px',
                'padding-left': '15px',
                'position': 'relative',
                'z-index': '9999',
            }"
            @update="onCheckboxUpdate"
        ></check-box>
    </info-box>
</template>

<script>
import CheckBox from "../Base/CheckBox.vue";
import InfoBox from "../Base/InfoBox.vue";

import EventBus from "../../EventBus";
import Store from "../../Store";
import config from "../../config";

import { createSlider } from "../../util";

/**
 * Callback for noUiSlider events
 * @callback noUiSliderEventCallback
 * @param {string[]} values Current slider values
 * @param {number} handle Handle that caused the event
 * @param {number[]} unencoded Slider values without formatting
 * @param {boolean} tap Event was caused by the user tapping the slider
 * @param {number[]} positions Left offset of the handles
 * @param {Object} noUiSlider noUiSlider public API
 */

/**
 * Callback for the updateCheckBox method
 * @callback updateCheckBoxCallback
 * @param {Vue} checkbox The CheckBox component instance
 */

export default {
    name: "ScenarioSlider",
    components: { InfoBox, CheckBox },
    data() {
        return {
            scenarios_loaded: false,
            scenario_title: null,
            current_scenario: null,
            title: "Prognosen zum Meeresspiegelanstieg 2100",
        };
    },
    mounted() {
        this.checkbox = this.$refs.dikeCheckbox;
        EventBus.$on("scenarios-loaded", this.onScenariosLoaded);
    },
    beforeDestroy() {
        EventBus.$off("scenarios-loaded");
    },
    methods: {
        /**
         * Callback that is invoked when the scenarios are loaded
         *
         * @param {MergedScenarios} scenarios The scenarios
         */
        onScenariosLoaded(scenarios) {
            this.scenarios_loaded = true;
            // Prevent the reactivity system from tracking changes by not declaring
            // scenarios as instance data:
            //   - scenarios are static
            //   - Vue's observers slow down Leaflet map interactions
            this.scenarios = scenarios;
            [this.current_scenario] = Object.keys(scenarios);
            createSlider(this.$refs.slider, scenarios).on(
                "update",
                this.onSliderUpdate(scenarios),
            );
        },
        /**
         * Callback factory for generating a callback that is invoked when the slider is
         * updated
         *
         * @param {MergedScenarios} scenarios The scenarios
         * @returns {noUiSliderEventCallback} noUiSlider event callback
         */
        onSliderUpdate(scenarios) {
            return (values, handle, ...rest) => {
                const sliderPosition = values[handle];
                // Get previous and current scenario from the instance variable and
                // current slider position, check the checkbox state for determining the
                // dike scenario and hide the previous/show the current features
                // accordingly.
                const previous = scenarios[this.current_scenario];
                const current = scenarios[sliderPosition];
                const dikeScenario = this.checkbox.checked
                    ? "dikes"
                    : "no_dikes";
                const prevFeatures = previous[dikeScenario].features;
                const curFeatures = current[dikeScenario].features;
                if (config.wms) {
                    prevFeatures.remove();
                    curFeatures.addTo(Store.mapObject);
                } else {
                    prevFeatures.hide();
                    curFeatures.show();
                }
                // Set heading for the slider component and update the current scenario
                // instance data to hold the current slider position
                this.scenario_title = current.title;
                this.current_scenario = sliderPosition;
                // Emit custom event so that other components can handle the slider
                // update.
                EventBus.$emit("slider-changed", {
                    scenario: current,
                    dikeScenario,
                });
            };
        },
        /**
         * Callback that is invoked when the CheckBox component is updated
         *
         * Receives the CheckBox component instance as argument
         *
         * @param {Vue} checkbox The CheckBox component
         */
        onCheckboxUpdate(checkbox) {
            this.changeDikeDisplay(this.current_scenario);
            EventBus.$emit("checkbox-updated", {
                scenario: this.scenarios[this.current_scenario],
                dikeScenario: checkbox.checked ? "dikes" : "no_dikes",
            });
        },
        /**
         * Method for updating the CheckBox component
         *
         * Accepts a callback that receives the CheckBox component as argument
         *
         * @param {updateCheckBoxCallback} cb The callback to be used
         */
        updateCheckBox(cb) {
            if (cb && typeof cb === "function") cb(this.checkbox);
        },
        /**
         * Change the visibility of the dikes and no_dikes features of a scenario
         *
         * Assumes that either dikes or no_dikes features are displayed so that toggling
         * the visibility will show resp. hide the dikes or no_dikes.
         * @param {("rcp45"|"rcp85"|"rise14")} scenario The scenario
         */
        changeDikeDisplay(scenario) {
            const currentScenario = this.scenarios[scenario];
            const dikeFeatures = currentScenario.dikes.features;
            const noDikeFeatures = currentScenario.no_dikes.features;
            if (config.wms) {
                if (Store.mapObject.hasLayer(dikeFeatures)) {
                    dikeFeatures.remove();
                    noDikeFeatures.addTo(Store.mapObject);
                } else {
                    noDikeFeatures.remove();
                    dikeFeatures.addTo(Store.mapObject);
                }
            } else {
                dikeFeatures.toggleVisibility();
                noDikeFeatures.toggleVisibility();
            }
        },
    },
};
</script>

<style scoped>
.info {
    width: 450px;
}
@media only screen and (max-width: 760px) {
    .info {
        width: calc(100vw - 20px);
    }
}
#nus-scenario-slider {
    margin: 20px 50px 45px;
}
#nus-scenario-slider >>> .noUi-value {
    padding-top: 6px;
}
.home-button {
    position: absolute;
    top: 8px;
    right: 8px;
}
.home-button-link {
    color: #777;
}
</style>
