<template>
    <div
        v-if="isVisible"
        class="info-overlay-background"
        @click="toggleVisibility"
    >
        <div class="info-overlay" :style="overlayStyle" @click.stop>
            <div class="info-overlay-header">
                <h4 class="info-box-heading">{{ title }}</h4>
                <a href="#" class="close-button-link" @click="toggleVisibility">
                    <i class="fas fa-times close-button" title="Schließen"></i>
                </a>
            </div>
            <div class="info-overlay-content">
                <div style="text-align: justify">
                    <h4 class="info-box-heading">
                        Intergovernmental Panel on Climate Change (IPCC)
                    </h4>
                    {{ ipccDescription }}
                </div>
                <div>
                    <h4 class="info-box-heading">
                        Einflussfaktoren für die Simulationen
                    </h4>
                    <ul>
                        <li v-for="item in items" :key="item.title">
                            {{ item.content }}
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="info-box-heading">
                        Wissenschaftliche Publikationen
                    </h4>
                    <ul>
                        <li v-for="pub in publications" :key="pub.title">
                            <a
                                :href="pub.link"
                                class="pub-link"
                                target="_blank"
                            >
                                {{ pub.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { convertToItems } from "../../util";
import {
    ipccDescription,
    publications,
    simulationFactors,
} from "../../scenarios";

export default {
    name: "InfoOverlay",
    props: {
        title: { type: String, default: "Weiterführende Information" },
        width: { type: Number, default: 490 },
    },
    data() {
        return {
            isVisible: false,
            items: null,
            ipccDescription,
            publications,
        };
    },
    computed: {
        overlayStyle() {
            return {
                width: `${this.width}px`,
            };
        },
    },
    mounted() {
        this.items = convertToItems(
            {
                meta: simulationFactors.reduce((acc, cur, index) => {
                    acc[index] = cur;
                    return acc;
                }, {}),
            },
            "meta",
        );
    },
    methods: {
        toggleVisibility() {
            this.isVisible = !this.isVisible;
        },
    },
};
</script>

<style scoped>
.info-overlay-background {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 3000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info-overlay {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 6px 8px;
    margin: 10px;
    position: relative;
    width: 60%;
    height: auto;
}
.info-overlay-header,
.info-overlay-content {
    width: 100%;
}

.info-overlay h4 {
    color: #777;
}
.info-overlay-header h4 {
    margin: 0 0 5px;
}
.info-overlay-content h4 {
    margin: 15px 0 15px;
}
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}
.close-button-link {
    color: #777;
}

.pub-link {
    color: rgb(13, 110, 253);
}
</style>
