<template>
    <div class="loader-overlay" :style="loading ? {} : disabledStyle">
        <div v-if="loading" class="sk-chase" :style="loaderStyle">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>
</template>

<script>
// Spinner from https://tobiasahlin.com/spinkit/

export default {
    name: "Loader",
    props: {
        loading: { type: Boolean, default: true },
        width: { type: Number, default: 80 },
        height: { type: Number, default: 80 },
        color: { type: String, default: "rgb(23, 112, 230)" },
    },
    computed: {
        loaderStyle() {
            return {
                "width": `${this.width}px`,
                "height": `${this.height}px`,
                "--spinnerColor": this.color,
            };
        },
        disabledStyle() {
            return {
                "background-color": "unset",
                "z-index": "unset",
            };
        },
    },
};
</script>

<style>
.loader-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader-overlay > .sk-chase {
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
}

.sk-chase {
    position: relative;
    opacity: unset;
    z-index: 2001;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: "";
    display: block;
    width: 25%;
    height: 25%;
    background-color: var(--spinnerColor);
    border-radius: 100%;
    animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
    animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
    animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%,
    0% {
        transform: scale(1);
    }
}
</style>
