<template>
    <header class="page-header gradient content" style="position: relative">
        <div class="container pt-3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6">
                    <h2 style="font-weight: bold">
                        Der Meeresspiegelanstieg...
                    </h2>
                    <p>
                        ... wird als eine der größten Bedrohungen für
                        Küstenlebensräume weltweit erkannt. Die entstehenden
                        Auswirkungen sind sowohl von ökologischer als auch von
                        sozioökonomischer Bedeutung und treffen
                        Küstenlandschaften, ihre Ökosystemleistungen und die
                        Bevölkerung an der Küste.<br />
                        Unter Berücksichtigung verschiedener Klimaszenarien kann
                        ein Eindruck über die Größenordnungen der möglichen
                        Veränderungen vermittelt werden. Die Simulation basiert
                        auf dem digitalen Höhenmodell TanDEM-X, mittels IDW
                        interpolierten Messungen des aktuellen Meeresspiegels
                        und der vertikalen Landbewegung sowie regionalen
                        Prognosen zur Meeresoberflächenhöhe im Jahr 2100
                        (weitere Informationen
                        <a
                            href="https://www.researchgate.net/publication/345859766_Sea-Level_Rise_in_Northern_Germany_A_GIS-Based_Simulation_and_Visualization"
                            target="_blank"
                            style="color: #fff"
                            >hier</a
                        >).<br />
                        Bei der Berechnung der Überflutungsflächen zeigen sich
                        gravierende Unterschiede – zum einen zwischen Nord- und
                        Ostseeküste, zum anderen zwischen den verschiedenen
                        Klimaszenarien, besonders aber zwischen der Annahme
                        eines standhaltenden Küstenschutzes und eines
                        Deichbruchs.
                    </p>
                </div>

                <div class="col-md-6">
                    <div class="cont w-100">
                        <router-link :to="{ name: 'map' }">
                            <img
                                src="assets/map.png"
                                class="img-responsive landing-page-img"
                            />
                            <div class="middle">
                                <div class="text">Zur Karte</div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
            <path
                fill="#fff"
                fill-opacity="1"
                d="M0,128L48,117.3C96,107,192,85,288,80C384,75,480,85,576,112C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
            ></path>
        </svg>
    </header>
</template>
