<template>
    <div>
        <loader :loading="loaded ? false : true"></loader>
        <info-overlay ref="infoOverlay"></info-overlay>
        <l-map
            id="sealevel-map"
            v-slot="{ mapObject }"
            class="map"
            :map-options="{
                center: [54.06020477366574, 10.534009504526033],
                maxBounds: [
                    { lat: 52.20646386896287, lng: 4.870043727006866 },
                    { lat: 55.92843603217752, lng: 16.985221689866187 },
                ],
                zoom: 8,
                minZoom: 8,
                zoomControl: false,
            }"
        >
            <l-control id="slider" position="topright" :map-object="mapObject">
                <scenario-slider
                    :class="isMobile ? 'mobile-info' : ''"
                ></scenario-slider>
            </l-control>
            <l-control
                id="scenario-info"
                :position="isMobile ? 'bottomright' : 'topright'"
                :map-object="mapObject"
                :style="isMobile ? 'margin-left: 10px' : ''"
            >
                <scenario-info
                    :class="isMobile ? 'mobile-info' : ''"
                ></scenario-info>
            </l-control>
        </l-map>
    </div>
</template>

<script>
import { control } from "leaflet";

import LControl from "../components/Leaflet/LControl.vue";
import LMap from "../components/Leaflet/LMap.vue";
import ScenarioInfo from "../components/Scenario/ScenarioInfo.vue";
import ScenarioSlider from "../components/Scenario/ScenarioSlider.vue";
import Loader from "../components/Base/Loader.vue";
import InfoOverlay from "../components/Base/InfoOverlay.vue";

import EventBus from "../EventBus";
import Store from "../Store";
import config from "../config";
import {
    addScenarioDescriptions,
    addScenariosToMap,
    compileScenarios,
    setScenariosStyle,
} from "../util";
import { northsea, balticsea, descriptions } from "../scenarios";

export default {
    name: "Map",
    components: {
        LMap,
        LControl,
        ScenarioSlider,
        ScenarioInfo,
        Loader,
        InfoOverlay,
    },
    data() {
        return {
            zoomControl: null,
            isMobile: false,
            loaded: false,
            seaLevelStyle: {
                stroke: false,
                fillOpacity: 0.6,
                fillColor: "#ff0000",
            },
        };
    },
    watch: {
        isMobile() {
            if (!this.loaded) return;
            if (this.isMobile) this.zoomControl.setPosition("topright");
            else this.zoomControl.setPosition("topleft");
        },
    },
    beforeMount() {
        const mediaQuery = window.matchMedia(
            "only screen and (max-width: 760px)",
        );
        this.isMobile = mediaQuery.matches;
        mediaQuery.addEventListener("change", ev => {
            this.isMobile = ev.matches;
        });
    },
    mounted() {
        EventBus.$on("map-created", map => {
            Store.mapObject = map;
            Store.infoOverlay = this.$refs.infoOverlay;
            compileScenarios(northsea, balticsea).then(scenarios => {
                addScenarioDescriptions(scenarios, descriptions);
                if (!config.wms) {
                    addScenariosToMap(scenarios, map);
                    setScenariosStyle(scenarios, this.seaLevelStyle);
                }
                EventBus.$emit("scenarios-loaded", scenarios);
                this.loaded = true;
                this.addZoom(map);
            });
        });
    },
    beforeDestroy() {
        EventBus.$off("map-created");
    },
    methods: {
        addZoom(mapObj) {
            this.zoomControl = control.zoom({
                position: this.isMobile ? "topright" : "topleft",
            });
            this.zoomControl.addTo(mapObj);
        },
    },
};
</script>

<style>
.map {
    top: 3.6rem;
    height: calc(100vh - 3.6rem);
}
.mobile-info {
    width: 100%;
    max-height: 178px;
    overflow: auto;
}
</style>
