<template>
    <div :id="id">
        <slot>No content</slot>
    </div>
</template>

<script>
import { control, DomEvent, Map as LMap } from "leaflet";

export default {
    name: "LControl",
    props: {
        id: { type: String, required: true },
        mapObject: { type: LMap, required: true },
        position: {
            type: String,
            default: "bottomleft",
            validator(value) {
                return [
                    "topright",
                    "topleft",
                    "bottomright",
                    "bottomleft",
                ].includes(value);
            },
        },
    },
    watch: {
        position(newVal) {
            this.lControlObject?.setPosition(newVal);
        },
    },
    beforeMount() {
        this.lControlObject = control({ position: this.position });
        this.lControlObject.onAdd = () => this.$el;
    },
    mounted() {
        this.lControlObject.addTo(this.mapObject);
        DomEvent.disableClickPropagation(this.$el);
    },
    beforeDestroy() {
        this.lControlObject.remove();
    },
};
</script>

<style>
.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
</style>
